.input-block-wrapper{
    display: flex;
    border-style: dashed;
    align-items: center;
    justify-content: space-between;
    img {
        width: 32px;
        height: 32px;
    }
}

.left-columns {
    display: flex;
    align-items: center;
}

.right-columns {
    display: flex;
    align-items: center;

    .svg-emoji {
        margin: 12px;
        width: 16px;
        height: 16px;
    }

    .svg-plane {
        width: 16px;
        height: 16px;
        margin: 13px;
        color: var(--dark-color);
    }

    .btn-send {
        width: 40px;
        height: 40px;
        align-items: center;
        background-color: var(--primary-color);
    }
}