<div class="tt-input input-block-wrapper">
    <div class="left-columns">
        <img [src]="'assets/imgs/avatar-placeholder.png'">
        <input
        class="tt-input-post"
        type="text"
        placeholder="Напишите комментарий"
        [(ngModel)]="commentText"
        [disabled]="isSending"
        (keyup.enter)="sendComment()"
        >
    </div>
    <div class="right-columns">
        <svg class="svg-emoji" icon="smile"></svg>

        <button class="btn-send btn-send-shadow" (click)="sendComment()" [class.disabled]="isSending">
            <svg class="svg-plane" icon="plane"></svg>
        </button>
    </div>
</div>