:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 5%;
}

.reset-form {
    width: 440px;
}

.reset-form,
.big-logo {
    place-self: center;
}

.password-input {
    position: relative;
}

.password-eye-btn {
    position: absolute;
    top: 55%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #FFFFFFBF;
    cursor: pointer;
}

.password-eye-btn.active {
    color: var(--primary-color);
}


.input-err.ng-invalid.ng-touched {
    border: 1px solid var(--error-color);
}

.input-error {
    border: 1px solid var(--error-color);
}

.error {
    color: var(--error-color);
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--error-color);
    white-space: nowrap;
    z-index: 100;
    opacity: 0;
    transform: translateY(4px);
    transform: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.input-label:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.suceful {
    color: var(--green-color);
}