<div class="subscribers-page">
  <h1 class="title">Подписчики</h1>

  <div *ngIf="isLoading">Загрузка...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!isLoading && !error && subscribers.length === 0">
    У вас пока нет подписчиков.
  </div>

  <div *ngIf="subscribers.length > 0" class="subscribers-list">
    <div *ngFor="let profile of subscribers" class="subscriber-card">
      <img
        class="subscriber-avatar"
        [src]="'assets/imgs/avatar-placeholder.png'"
      />
      <strong class="subtitle">
        {{ profile.firstName }} {{ profile.lastName }} {{ profile.description }}
      </strong>
    </div>
  </div>
</div>