:host {
    display: grid;
    grid-template-columns: 112px 1fr;
    grid-gap: 24px;
}

img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}

.username-and-name {
    text-align: left;
    
}


@media (max-width: 768px) {
    :host {
        display: grid;
        grid-template-columns: 112px 1fr;
        grid-gap: 24px;
        padding: 10px;
    }

    img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
}