<div class="table-wrapper">
  <div class="users-table mb20">
    <div class="header h6">
      <div>Аватар</div>
      <div>Username</div>
      <div>Имя</div>
      <div>Фамилия</div>
      <div>Email</div>
      <div>Роль</div>
      <div>Город</div>
      <div>Подписчики</div>
    </div>
  </div>

  <div class="row"
  [ngClass]="{
    'banned': user.isBanned,
    'frozen': !user.isBanned && isFrozen(user),
    'online': !user.isBanned && !isFrozen(user) && isOnline(user)
  }"
  *ngFor="let user of users"
  >
    <!-- Сетка с данными -->
    <div class="grid-row h6">
      <div>
        <img [src]="user.avatarUrl || 'assets/imgs/avatar-placeholder.png'" class="avatar" />
      </div>
      <div>{{ user.username }}</div>
      <div>{{ user.firstName || '—' }}</div>
      <div>{{ user.lastName || '—' }}</div>
      <div>{{ user.email }}</div>
      <div>{{ user.role }}</div>
      <div>{{ user.city || '—' }}</div>
      <div>{{ user.subscribersAmount }}</div>
    </div>
    <div class="status-ribon frozen-ribbon h6" *ngIf="isFrozen(user)">
      Заморожен до {{ user.frozenUntil | date: 'dd.MM.yyyy HH:mm' }}
    </div>
    <div class="status-ribon banned-ribbon h6" *ngIf="user.isBanned">
      В Бане
    </div>


    <!-- Кнопки -->
    <div class="btncolumns">
      <button (click)="goToProfile(user)">Профиль</button>
      
      <button
        (click)="isFrozen(user) ? unfreezeUser(user) : openFreezeDialog(user)"
        >
        {{ isFrozen(user) ? 'Разморозить' : 'Заморозить' }}
      </button>
      <button
      (click)="toggleBan(user)"
      [disabled]="currentUserRole === 'admin1'">
      {{ user.isBanned ? 'Разбанить' : 'Забанить'}}
      </button>

      <ng-container *ngIf="currentUserRole === 'admin2'">
        <button (click)="deleteAccount(user)">
          Удалить аккаунт
        </button>
        <button (click)="changeAdminLevel(user)">
          {{
            user.role === 'user' ? 'Выдать адм.'
            : user.role === 'admin1' ? 'Повысить адм.'
            : 'Понизить адм.'
          }}
        </button>
        <button *ngIf="user.role !== 'user'" (click)="removeAdmin(user)">
          Снять адм.
        </button>
      </ng-container>
    </div>
  </div>
</div>