<form 
class="forgot-form"
[formGroup]="form" 
(ngSubmit)="onSubmit()"
>
    <h1 class="h1 mb60">Восстановление пароля</h1>
    
    <div *ngIf="message" class="suceful">{{ message }}</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    
    <label class="tt-control-label input-label mb32">
        Email
        <input
        formControlName="email"
        class="tt-input input-err"
        type="text"
        placeholder="Введите Email"
        >

        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error tooltip regular">
            <span *ngIf="form.get('email')?.errors?.['required']">Email обязателен</span>
            <span *ngIf="form.get('email')?.errors?.['email']">Неверный формат</span>
        </div>
    </label>
    <div class="mb60">
        <button class="btn btn-shadow" type="submit">Отправить</button>
    </div>
</form>




<img src="assets/svg/logo-big.svg" alt="logo">
