.search-container {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  justify-content: center;
  gap: 10px;
  display: flex;
  position: fixed;
  padding: 10px;
  top: 5px;
  margin: 5px;
  left: 33%;

  .input-search {
    background: none;
    border: none;
    border-bottom: 1px solid var(--light-color);
    outline: none;
    color: var(--light-color);
    width: 90dvh;
  }


  .right-column {

    display: flex;
    gap: 10px;
    
    .search-btn {
      display: flex ;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: none;
      border: 1px solid var(--light-color);
      transition: background-color 0.2s ease;
  
      &:hover {
        background-color:  var(--primary-color);
      }
  
      &:active {
        background-color: var(--primary-color);
      }
  
      svg {
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: var(--light-color);
      }
    }

    .filter-btn {
      display: flex ;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: none;
      border: 1px solid var(--light-color);
      transition: background-color 0.2s ease;
      
      
      &:hover {
        background-color:  var(--primary-color);
      }


      &:active {
        background-color: var(--primary-color);
      }

      svg {
        width: 18px;
        height: 18px;
        color: var(--light-color);
      }
    }
  }


  .error {
    color: red;
    margin-top: 10px;
  }
}


.loading {
  position: relative;
  top: 60px;
  text-align: center;
}

.notfound {
  position: relative;
  top: 60px;
  text-align: center;
}


.block-result {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;


  .profile-stack {
    display: flex;
    gap: 8px
  }
}


.profile-info {
  display: flex;
  gap: 20px;
  align-items: center;
  img {
    width: 71px;
    height: 71px;
  }
}

.profile-btn {

  .go-profile {

    svg {
      width: 16px;
      height: 16px;
    }
  }
}