
<a [routerLink]="['']">
    <img
    src="assets/svg/logo-small.svg"
    alt=""
    class="ml16 mb20"
    > 
</a>

<nav>
    <ul class="main-menu-list mb20">
        <li *ngFor="let menuItem of menuItems">
            <a class="menu-item" [routerLink]="[menuItem.link]">
                <svg [icon]="menuItem.icon || 'default-icon'"></svg>
                <span>{{ menuItem.label }}</span>
            </a>
        </li>
    </ul>
</nav>


<p class="medium-text mb20">Подписчики</p>

@for (profile of subscribers$ | async; track profile.id) {
    <app-subscriber-card
    [profile]="profile"
    >
    </app-subscriber-card>
}


<div class="mt20 to-subscribers">
    <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link"
    >Все подписчики</a>
    <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>

@if (adminRoutes.length > 0) {
    <div class="adminbtn">
        <p class="medium-text mb10">Администрирование</p>
        <ul class="main-menu-list mb20">
            @for (route of adminRoutes; track route.link) {
                <li>
                    <a class="menu-item" [routerLink]="[route.link]">
                        <svg [icon]="route.icon"></svg>
                        <span>{{ route.label }}</span>
                    </a>
                </li>
            }
        </ul>
    </div>
}

<footer class="sidebar__footer">
    @if (me(); as me) {
        @if (me.avatarUrl) {
            <img [src]="me.avatarUrl | imgUrl" alt="">
        } @else {
            <img src="assets/imgs/avatar-placeholder.png" alt="">            
        }

        <div class="medium-text username-text">{{ me.username }}</div>

        <a [routerLink]="['settings']" class="settings-btn">
            <svg icon="settings"></svg>
        </a>
    }
</footer>