
<div class="search-wrapper mb16">


    <div class="search-row">
        <div class="search-line">
            <input
            type="text"
            class="search-input"
            placeholder="Поиск по постам..."
            [(ngModel)]="searchQuery"
            (input)="onSearch()"
            >
            
            <button class="filter-btn" (click)="toggleFilters()">
                <svg icon="funnel"></svg>
            </button>
        </div>
        

        <div class="skill-line mt8">
            <div class="skill-tag tag mt8" *ngFor="let tag of selectedTags">
                <span class="remove-tag" (click)="removeTag(tag)"><svg icon="cross"></svg></span>
                {{ tag }}
            </div>
        </div>
    </div>


    <div *ngIf="showFilters" class="filters-block regular mt16">
        <input
        type="text"
        class="tag-input"
        placeholder="Введите тег и нажмите Enter"
        [(ngModel)]="tagInput"
        (keydown.enter)="addTag($event)"
        >
    </div>
</div>


<div class="block-wrapper mb16" *ngFor="let post of posts">
    <div class="post-block">
        <img [src]="'assets/imgs/avatar-placeholder.png'" >
        <div class="post-all-content" [routerLink]="['/profile', post.userId._id]">
            <div class="post-content mb8">
                <div class="post-header mb20">
                    <div class="post-header-content medium-text">
                        <div class="title-post mb12">
                            <div class="mr4 regular-bold">
                                {{ post.userId.firstName }} {{ post.userId.lastName }}
                            </div>
                            <div class="ml4 medium-text text-color">
                                {{ post.createdAt | timeAgo }}
                            </div>
                        </div>
                        <div class="mb8" [innerHTML]="post.content | hightlight:searchQuery"></div>


                        <div class="tag-wrapper">
                            <div class="tag" *ngFor="let tag of post.tags">
                                <div class="skill-tag" [ngClass]="{ 'hightlighted-tag' : selectedTags.includes(tag) }">
                                    {{ tag }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
