.mb4 {
    margin-bottom: 4px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px;
}


.mb32 {
    margin-bottom: 32px;
}

.mb38 {
    margin-bottom: 38px;
}

.mb60 {
    margin-bottom: 60px;
}

.mt8{
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt20 {
    margin-top: 20px;
}

.mt80 {
    margin-top: 80px;
}


.ml4 {
    margin-left: 4px;
}

.ml2 {
    margin-left: 2px;
}


.ml16 {
    margin-left: 16px;
}

.ml20 {
    margin-left: 20px;
}



.mr4 {
    margin-right: 4px;
}

.mr16 {
    margin-right: 16px;
}

.mr32 {
    margin-right: 32px;
}
