.chat-page-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
}

.user-list-column {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.chat-box-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-placeholder {
  margin: auto;
  text-align: center;
  color: #888;
  font-size: 18px;
}
